* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
}

section {
    width: 45%;
    text-align: center;
}

p {
    font-size: 10px;
    color: hsl(229, 6%, 66%);
}
.top-heading{
    font-weight: 200;
}
.bold-heading {
    padding-bottom: 1rem;
    font-weight: 600;
}

h1 {
   color: hsl(234, 12%, 34%);
}

.container {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 1rem;
}

.box {
    height: 10rem;
    width: auto;
    max-width: 15rem;
    border-radius: .4rem;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px .5px 0px .5px rgba(00, 00, 00, 0.2);
}

.box-heading {
    color: hsl(234, 12%, 34%);
    font-weight: 400;
    font-size: 15px
}

.supervisor {
    grid-column: 1/2;
    grid-row: 2/4;
    border-top: 3px solid hsl(180, 62%, 55%);
    padding: 1rem;
}

.team-builder {
    grid-column: 2/3;
    grid-row: 1/3;
    border-top: 3px solid hsl(0, 78%, 62%);
    padding: 1rem;
}

.calc {
    grid-column: 3/4;
    grid-row: 2/4;
    border-top: 3px solid hsl(212, 86%, 64%);
    padding: 1rem;
}

.karma {
    grid-column: 2/3;
    grid-row: 3/5;
    border-top: 3px solid hsl(34, 97%, 64%);
    padding: 1rem;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
}

.icon img {
    width: 2.5rem;
}

.attribution {
    font-size: 8px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:768px) {
    body {
        font-size: 12px;
    }

    section {
        width: 70%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
    }

    .box {
        height: auto;
        min-height: 8rem;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1/2;
    }

    .team-builder {
        grid-column: 1;
        grid-row: 2/3;
    }

    .karma {
        grid-column: 1;
        grid-row: 3/4;
    }

    .calc {
        grid-column: 1;
        grid-row: 4/5;
    }

    footer {
        margin-top: 5rem;
    }

}