* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: poppins;
}

body {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 5rem;
}

section {
    width: 40%;
    text-align: center;
}

p {
    font-size: 10px;
    color: hsl(229, 6%, 66%);
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

.container {
    display: grid;
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 25% 22% 6% 22% 25%;
}

.box {
    height: auto;
    min-height: 10rem;
    width: 15rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 2px 2px .5px .5px rgba(00, 00, 00, 0.2);
}

.box-head {
    font-weight: 400;
}

.supervisor {
    grid-column: 1/2;
    grid-row: 2/5;
    border-top: 3px solid hsl(180, 62%, 55%);
    padding: 1rem;
}

.team-builder {
    grid-column: 3/4;
    grid-row: 1/3;
    border-top: 3px solid hsl(0, 78%, 62%);
    padding: 1rem;
}

.calc {
    grid-column: 5/6;
    grid-row: 2/5;
    border-top: 3px solid hsl(212, 86%, 64%);
    padding: 1rem;
}

.karma {
    grid-column: 3/4;
    grid-row: 4;
    border-top: 3px solid hsl(34, 97%, 64%);
    padding: 1rem;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2.5rem;
}

.icon img {
    width: 2rem;
}

.attribution {
    font-size: 10px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:320px) and (max-width:1000px) {
    section {
        width: 60%;
    }

    .container {
        display: grid;
        grid-template-rows: 22% 6% 22% 6% 22% 6% 22%;
    }

    .box {
        height: auto;
        min-height: 10rem;
        border-radius: .5rem;
        box-shadow: 2px 2px .5px .5px rgba(00, 00, 00, 0.2);
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1/2;
        border-top: 3px solid hsl(180, 62%, 55%);
        padding: 1rem;
    }

    .team-builder {
        grid-column: 1;
        grid-row: 3/4;
        border-top: 3px solid hsl(0, 78%, 62%);
        padding: 1rem;
    }

    .calc {
        grid-column: 1;
        grid-row: 7;
        border-top: 3px solid hsl(212, 86%, 64%);
        padding: 1rem;
    }

    .karma {
        grid-column: 1;
        grid-row: 5/6;
        border-top: 3px solid hsl(34, 97%, 64%);
        padding: 1rem;
    }
}