@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{

/* Primary */
--Soft-Blue: hsl(231, 69%, 60%);
--Soft-Red: hsl(0, 94%, 66%);

 /* Neutral */

--Grayish-Blue: hsl(229, 8%, 60%);
--Very-Dark-Blue: hsl(229, 31%, 21%);
--White: hsl(0, 0%, 100%);

 /* Typography */

 /* Body Copy */

--Font-size: 18px;

 /* Fonts */

--Font-Family:'Rubik',sans-serif;
--Font-Weight1: 400;
--Font-Weight2: 500;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--Font-Family);
    box-sizing: border-box;
}

body{
    text-align: center;
    width: 100%;
    font-size: var(--Font-size);
    padding: 2.5rem 1rem 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.hero-section{
    padding-bottom: 6rem;
}

.hero-img img{
    object-fit: cover;
    object-position: center;
    width: 20rem;
    height: auto;
}

h1,h2{
    color: var(--Very-Dark-Blue);
    font-weight: var(--Font-Weight2);
}

.para{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    padding: 1rem 0 1.5rem;
}

.btn{
    padding: 1rem 1.1rem;
    background-color: var(--Soft-Blue);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: var(--White);
}